/* ========================== HTML*/
header{
    background-color: #D6D2C4;
    border-bottom: 1px solid black
}
body{
    background-color: #D6D2C4;
}
textarea {
    resize: none;
}
ul{
    list-style: none;
}


/* ========================== WECLOME BLADE*/
#logo{
    max-width: 100px;
}
.hero{
    height: 90vh;
    margin-left: 30vh;
    margin-top: 90px;
}

.title-hero{
    margin-left: 150px;
}

.mainTitle{
    font-size: 90pt;
}

.kanan{
    background-color: white;
    height: 100vh;
}
/* ========================== HOME*/

.fotoSlide{

    object-fit: cover;
}

.carousel{
    max-width: 120vh;
}

hr{
    max-width: 90%;
    margin: 0 auto;
}

.textPD{
    color: #000;
}

/* ========================== SHOW*/
.fotoPage{
    width: 110vh;
    height: 50vh;
    object-fit: cover;
}

.kananPage{
    background-color: white;
    height: 100vh;
    border: 1px solid black;
}
